@import "scss/variables";
@import "scss/mixins";
@import "scss/animations";

@import "scss/globals";

.vis-hidden {
    visibility: hidden;
}

.header {
    &_menu {
        >span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &.open {
        .header_menu {
            >span:first-child {
                transform: rotate(45deg);
            }

            >span:nth-child(2) {
                opacity: 0;
            }

            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        opacity: 0;
        position: fixed;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
        // background-color: $darkBlue;
        background-image: linear-gradient($darkBlue, transparent);
    }

    nav {
        padding: 17px 24px;
    }

    &_logo {
        img {
            width: 8.8125rem;
            height: 1.375rem;
        }
    }

    &_links {
        a {
            font-size: $font-sm;
            position: relative;
            transition: color 300ms ease-in-out;

            &:not(:last-child) {
                margin-right: 32px;
            }

            &:hover {
                color: $darkBlue;

                &::before {
                    opacity: 1;
                }
            }

            &::before {
                content: "";
                position: absolute;
                height: 5px;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                left: 0;
                right: 0;
                bottom: -30px;
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }
        }
    }

    &_cta {
        font-size: $font-sm;
        color: $White;
        opacity: 1;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    }

    &_mob_menu {
        position: absolute;
        background: $White;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        padding: 1.625rem;
        margin-top: 24px;
        z-index: 1;

        a {
            display: block;
            padding: 0.625rem;
            text-align: center;
            color: $darkBlue;
        }
    }
}

.hero {
    @include breakpoint-up(large) {
        display: flex;
        align-items: center;
        background-color: $veryLightGray;
    }

    &_text {
        padding: 0 1rem 3.5rem;
        text-align: center;

        @include breakpoint-up(large) {
            flex: 2;
            text-align: left;
            padding: 92px;
        }

        h1 {
            font-weight: 300;
            color: $darkBlue;
            line-height: 1.15;
            font-size: 40px;

            @include breakpoint-up(large) {
                font-size: 51px;
            }
        }

        p {
            font-size: 16px;
            line-height: 1.25;
            margin-bottom: 2.5rem;

            @include breakpoint-up(large) {
                font-size: $font-med;
            }
        }

        .hero_cta {
            margin: 20px 0px;
            color: $White;
            opacity: 1;
            transition: opacity 300ms ease-in-out;

            &:hover {
                opacity: 0.75;
            }

        }
    }

    &_image {
        @include breakpoint-up(large) {
            flex: 3;
            order: 1;
            min-height: 655px;
            overflow-x: clip;
        }

        position: relative;
        background-image: url('/assets/images/bg-intro-mobile.svg');

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 17.5rem;

        @include breakpoint-up(large) {
            background-image: url('/assets/images/bg-intro-desktop.svg');
            background-size: 152%;
            background-position: 0% 66%;
        }

        .mob_image {
            position: absolute;
            background-image: url('assets/images/image-mockups.png');
            background-repeat: no-repeat;
            background-size: 96%;
            width: 100%;
            height: 100%;
            background-position: center bottom;

            @include breakpoint-up(large) {
                background-size: 85%;
                width: 110%;
                height: 127%;
                background-position: center 93%;
                left: 15%;
            }
        }
    }
}

.feature {
    background-color: $lightGrayishBlue;
@include breakpoint-down(small) {
    text-align: center;
    }
    @include breakpoint-up(large){
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    &_heading {
        margin-bottom: 60px;
     padding-left: 2.5rem;
    padding-right: 2.5rem;
        h2 {
            font-weight: 300;
            color: $darkBlue;
            font-size: 36px;
        }
    }

    &_items {
        @include breakpoint-up(medium) {
            display: flex;
            flex-wrap: wrap;
        }

        @include breakpoint-up(large) {
            display: flex;
            flex-wrap: nowrap;
        
        }


        .feat_item {
            @include breakpoint-down(medium) {
                flex: 0 1 50%;
            }

            h3 {
                font-weight: 400;
                color: $darkBlue;
            }
        }
    }
}

.articles {
    background-color: $veryLightGray;         

    @include breakpoint-up(large) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    &_heading {
        margin-bottom: 60px;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
       

        h2 {
            font-weight: 300;
            color: $darkBlue;
            font-size: 36px;
            @include breakpoint-down(small) {
                    text-align: center;
                }
           
        }
                
    }

    &_items {
        @include breakpoint-up(medium) {
            display: flex;
            flex-wrap: wrap;
        }

        @include breakpoint-up(large) {
            display: flex;
            flex-wrap: nowrap;

        }


        .feat_item {
            background-color: $White;
            margin-right: 25px;
            overflow: hidden;
            border-radius:2%;
            :last-child{
                margin-right: 0px;
            }
                          @include breakpoint-up(medium) {
                              flex: 0 1 45%;
                          }
            .feat_image{
                img{
                    width: 100%;
                    //  height:200px;
                    @include breakpoint-down(medium) {
                          width:425px;
                          height:320px;
                        }
                    
                        @include breakpoint-up(large) {
                            // width: 275px;
                                height: 165px;
                        }
                }
            }
          
            .details{
                padding: 0 20px;
                h5 {
                        font-weight: 300;
                        color: $grayishBlue;
                        font-size: 12px;
                        margin-bottom: 0px;
                    }
            h3 {
                    font-weight: 400;
                    color: $darkBlue;
                    font-size: 18px;
                    cursor: pointer;
                    margin-top: 5px;
                }
                h3:hover{
                    color: $limeGreen;
                }
            p{
                font-size: 14px;
            }
                
            }
           
        }
    }
}